<button
  class="flex items-center gap-2 px-4 py-2 bg-stone-950 border-t border-t-stone-800 border-l border-l-stone-800 rounded-3xl font-mono text-stone-300 hover:text-lime-200 stroke-stone-300 hover:stroke-lime-200"
  aria-haspopup="dialog"
  aria-expanded="false"
  type="button"
  ><svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 24 24"
    fill="none"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><title>Search</title><circle cx="11" cy="11" r="8"></circle><path
      d="m21 21-4.3-4.3"></path></svg
  >
  <span class="hidden md:block">Search</span>
  <div class="hidden md:block">
    <kbd
      class="px-2 py-1 text-stone-300 bg-stone-700 border border-stone-600 rounded-md"
      >Ctrl</kbd
    > + <kbd
      class="px-2 py-1 text-stone-300 bg-stone-700 border border-stone-600 rounded-md"
      >K</kbd
    >
  </div></button
>
